body {
  background-image: url("listki.gif");
  background-repeat: repeat-y;
}

.tresc {
  margin-left:130px;
  border-style: solid;
  border-width:2px;
  padding: 30px;
  text-align: justify;
  float: overflow-y;
  text-indent: 15px;
}

.tresc img {
  float:left;
}

.tresc p:first-child{
  text-indent: 0px;
}
